/*
 * General Settings
 */

@font-face {
    font-family: "cantvf";
    src: url('/assets/Cantarell-VF.woff2') format('woff2')
}

:root {
    --sans: "cantvf", "Verdana", "Tahoma", sans-serif;
    --mono: "DejaVu Sans Mono", monospace;
    --red: darkred;
    --green: darkgreen;
    --blue: blue;
    --magenta: darkmagenta;
    --orange: darkorange;
    --yellow: darkgoldenrod;
    --pink: fuchsia;
    --code-block-bg: #0002;
}

@media (prefers-color-scheme: dark) {
    :root {
        --fg: white;
        --accent: #7744aa;
        --bg: #161616;
    }
}
@media (prefers-color-scheme: light) {
    :root {
        --fg: black;
        --bg: white;
        --accent: rebeccapurple;
    }
}


p { line-height: 1.25rem;}

* {
    font-family: var(--sans);
    color: var(--fg);
    background-color: var(--bg);
}

h1, h2 {
    font-weight: 900;
}

a {
    color: var(--accent)
}

h1 {
    font-size: 2.5rem;
    font-weight: 800;
}

/*
 * Text Selection
 */

*::selection {
    background-color: var(--accent);
    color: var(--bg);
}

/*
 * Main and Footer Margin
 */

body {
    margin: 0
}

main > *, footer {
    margin-left: 20%;
    margin-right: 20%;
}

/* 
 * Footer Color & Font Size
 */

footer, footer * {
    color: gray
}

footer {
    margin-top: 5rem;
    margin-bottom: 2rem;
    font-size: smaller;
}

footer * {
    font-size: inherit;
}

/*
 * Navbar Layout & Styling
 */

nav {
    padding: 1rem 2rem;
    margin: 0;
    margin-bottom: 1rem;
    display: flex;
    justify-content: space-between;
    border-top: 1px solid white;
    border-bottom: 2px solid var(--accent);
    /*filter: drop-shadow(0px 5px 10px #050505);*/
    position: sticky;
    top: 0;
    z-index: 0
}

nav a {
    color: var(--fg);
}

#self-link { 
    font-weight: bold
}

.delim {
    color: gray;
    user-select: none;
}

/*
 * Timestamp Styles
 */

span.timestamp * {
    padding: 0;
    background-color: #0000;
    color:gray;
    font-family: var(--mono)
}

/*
 * Blog Posts List
 */

li:has(span.ts, a) {
    list-style-type: "- " 
}

li:has(span.ts, a:hover) {
    list-style-type: "> "
}

li::marker { 
    font-family: var(--mono)
}

/*
 * Blog Post Upper Links
 */

.nav-links-container {
    display: flex;
    gap: 1rem;
}

/* This element is only supposed to show when CSS and JS are disabled */
noscript.hide {
    display: none;
}

/*
 * Blog Post hr
 */

main > hr {
    border: 0.5px solid #fff2;
    margin-top: 1rem;
}

/*
 * Code Block Styling
 */

code {
    background-color: var(--code-block-bg);
    font-family: var(--mono);
    padding: 1px 7px 2px 7px;
    border-radius: 5px;
}

div.sourceCode {
    margin: 0
}

pre {
    background-color: var(--code-block-bg);
    margin-left: 15%;
    margin-right: 15%;
    padding: 1rem;
    white-space: pre-wrap;
    border-radius: 0.5rem;
}

pre code {
    padding: 0;
}

pre * {
    margin: 0;
    font-family: var(--mono); 
    background-color: #0000;
}

pre > code > span:first-child {
    margin-left: 0em
}

span.kw { color: var(--red); font-weight: bold }
span.at { color: var(--magenta); font-weight: bold } 
span.dt { color: var(--blue) }
span.fu { color: var(--yellow) }
span.bu { color: var(--blue) }
span.op { color: var(--red) }
span.cf { color: var(--pink); font-weight: bold }
span.co { color: var(--blue) }
span.an { color: var(--yellow); font-weight: bold }
span.va { color: var(--fg); font-weight: bold }
span.st { color: var(--green) }
span.ss { color: var(--green) }
span.sc { color: var(--green); font-weight: bold }
span.ch { color: var(--magenta) }

/*
 * Styles for comments 
 */


details {
    margin-top : 1rem;
}

summary, summary * {
    cursor: pointer;
}
summary::marker {
    display: inline;
}

summary h2 {
    display: inline;
    font-size: 1.5em;
    margin: 0;
    margin-left: 0.5rem;
}

div#disqus_thread {
    margin-top: 1rem;
}

/*
 * Notes & Other Admonitions
 */
div[class]:has(p) {
    /*
     * Kind of Like a Class
     */

    /*
     ** Variables
     */
    --bg-color: lightgray;
    --before-fg-color: white;
    --before-bg-color: gray;
    

    margin-top: 1rem;
    background-color: var(--bg-color);
    padding: 0.2rem 0.5rem;
    border-radius: 1rem ;
    
    & p {
        color: black;
        background-color: var(--bg-color);
    }

    & >* {
        padding: 0.2rem 0.5rem;
    }

    & > div.sourceCode {
        padding: 0;
        margin: 0;
        & > pre {
            margin: 0;
        }
    } 

    &:hover::before {
        margin-left: -2em;
    }

    &::before {
        color: var(--before-fg-color);
        background-color: var(--before-bg-color);
        padding: 0.5rem;
        text-transform: capitalize;
        content: attr(class);
        margin-left: -1em;
        font-weight: bold;
        transition: margin-left 0.3s;
    }
    & p::selection  {
        background-color: var(--before-bg-color);
        color: var(--before-fg-color);
    }
    & > p:first-child{
	display: none;
    }
}

div.warning:has(p) {   
    --bg-color: #faa; 
    --before-bg-color: red; 
}

div.note:has(p), div.disclaimer:has(p) {
    --bg-color: lightyellow;
    --before-bg-color: yellow;
    --before-fg-color: black
}

/*
 * WIP Banner
 */

[wip]::before {
    content: "WORK IN PROGRESS";
    background: repeating-linear-gradient(-55deg,
        #000000, #000000 15px,
        #e2d529 15px, #e2d529 30px);
    display: block;
    width: 100%;
    color: white;
    font-weight: bold;
    font-family: sans-serif;
    padding: 0.5em 0;
    text-align: center;
    border-radius: 0rem 0rem 1rem 1rem;
    position: sticky;
    text-shadow:
        1px 1px 2px black,
        1px -1px 2px black,
        -1px 1px 2px black,
        -1px -1px 2px black;   
    top: 2;
}
