<title>$title$ - Ben Raz Blog</title>
$nav$
<main>
		<div class="nav-links-container"><a href="/">&lt;&lt; home</a><a href="/blog">&lt; blog</a></div>
		<h1>$title$</h1>
		<span class="timestamp"><code>[Published $published$]</code></span><br>
		<span class="timestamp"><code>[Updated $updated$]</code></span>
		<hr>
		$body$
	<hr>
        <details class="comments"><summary><h2>Comments (Disqus)</h2></summary>
        <div id="disqus_thread"></div>
    <script>
    /**
    *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
    *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables    */
    /*
    var disqus_config = function () {
    this.page.url = PAGE_URL;  // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = PAGE_IDENTIFIER; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
    };
    */
    (function() { // DON'T EDIT BELOW THIS LINE
    var d = document, s = d.createElement('script');
    s.src = 'https://benrazdev.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
        </details>
</main>
$foot$
<style>
$styles$
</style>
